{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
<div class="intro-header {% if page.cover-img %} big-img {% endif %}">
  {% if page.cover-img or page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title2 %}{{ page.title2 | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}
          
          {% if include.type == "post" %} 
            {% if page.author %}
              By <strong>{{ page.author | strip_html }}</strong><br>
            {% endif%}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.cover-img %}<span class='img-desc'></span>{% endif %}
</div>

<div style="width: 100%;">
  <div class="home_left_img_div">
    <div class="home_img">
      <img src="assets/img/profile_pic.jpg" class="home_actual_img">
    </div>    
  </div>
  <div class="home_right_text">
    <div class="home-desc">
      <div>It's a meee - Ambi!</div>
      <div style="padding-top: 20px;">I'm a Code Enthusiast, a Reader of Books and a Player of Board Games. </div>
      <div style="padding-top: 20px;">Just finished my Masters in CS @ ETH Zurich with my thesis related to automatic Sleep Stage Classification using SOTA vision models.</div>
      <div style="padding-top: 20px;">Feel free to check out my work or just say Hi ^.^!</div>
  </div>
</div>

<div style="clear:both"></div>

<div class="home_quotes_div">
  <span> Some of my favourite quotes:</span>
  <h3> <span class="typewriter"></span> </h3>
</div>


{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>
