---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-lg {% endif %}">
  <div class="row">
    <div class="col">
      {% for experience in page.experiences %}
        <div class="resume_exp_container">
          <div class="resume_exp_title_container">
            <h3 class="resume_exp_title">{{ experience.title }}</h3>
            <span class="resume_exp_year">{{ experience.years }}</span>
          </div>
          <div class="resume_exp_desc"> {{experience.description}} </div>
          {% if experience.item_list_title %}
            <div class="resume_item_list">
              <span class="toggle_button">+ {{ experience.item_list_title }} </span>
            </div>
            <div class="resume_exp_items resume_hidden">
              <ul>
                {% for item in experience.items %}
                <li> {{ item.title }} </li>
                <p class="resume_item_desc"> {{ item.description }} </p>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</main>

<script src="{{ site.baseurl }}/assets/js/resume.js"></script>